
<div class="page" data-page="lesson" data-handler="LessonPage">

    <div class="lesson loadable-container" data-handler="Lesson">

        <template data-id="lesson">
            <div class="page-head">
                <ol class="breadcrumb">
                    <li><a href="#" data-action="main" data-t="">Main</a></li>
                    <li data-t="">Lesson</li>
                </ol>
                <%- include('./_user') %>
            </div>

            <h1 data-t="meta.class.lesson">{{name}}</h1>

            <div class="lesson-content">{{content}}</div>

            {{questions}}
        </template>

        <template data-id="questions">
            <div class="question-list">
                <h3 class="question-list-title" data-t="">Lesson questions</h3>
                {{items}}
            </div>
        </template>

        <template data-id="question">
            <div class="question-item" data-id="{{_id}}">
                <a href="#" data-action="question">{{text}}</a>
            </div>
        </template>

        <template data-id="noQuestions">
            <div class="alert-warning alert" data-t="">The lesson has no questions</div>
        </template>

        <template data-id="error">
            <div class="alert-danger alert">{{text}}</div>
        </template>

        <div class="loadable-content"></div>
        <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
</div>